*{
  box-sizing: border-box; /*1*/
}
body{
  font-family: 'Merriweather', serif; /*11*/
}
p{
  font-size: 20px;

}
/* ESTILOS DEL NAVBAR */
header{
  width: 100%;
  height: 100%;

}
 nav{

  width: 100%;

  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 8vh;
  z-index: 10;


}
.black{
  background-color: rgba(10,10,10,0.90);
}

.nav-links{ /*5*/
  display: flex;
    list-style:none;
    width: 80%;
    justify-content:flex-end;
    align-items: center;
    padding-top:15px;
}

.nav-links li a{ /*7*/
  color:white; /*8*/
  text-decoration: none;/*9*/
  font-size: 15px;/*10*/
  padding-right:20px; /*14*/
  font-family: Poppins;
  text-transform: uppercase;
}

.nav-links li :hover{
  border-bottom: 2px solid  #fdc600;
}
/* FIN DE ESTILO DEL NAVBAR */
.contenedor{
  width: 100%;

}
 .banner{
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 3s ease-in-out;
  background-image: url('../img/banner-1.jpg');
  animation: banner 20s infinite linear;
  background-color: rgba(0,22,40,.27);

}
/* PORTADA */
.banner-content{
  width: 100%;
  height:100vh;
 background-color: rgba(0,22,40,.27);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:sans-serif;
  z-index: 20;
}

.banner-content h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.banner-content h2{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-content h2 span{
  color: #fdc600;
}

.banner-content a{
  text-decoration: none;
  background-color: #fdc600;
  color:#fff;
  padding: 9px  35px;
  border: 1px solid #fdc600;
  border-radius: 50px;
  text-transform: uppercase;
}

.banner-content a:hover{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #ffb800;
  border: 1px solid #ffb800;
  transform:scale(1.05);
}
/* FIN DE PORTADA */

/* descripcion */
.sobre-mi{
  padding-top: 50px;
}

.description{
  display: flex;
  flex-direction: column ;
  align: right;
}

.description h3{
  margin: 25px;
  padding: 10px 50px;
  border: 1px solid #edbb00;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.img_about{
  align-items: center;
}

.img_about img {
  width: 100%;
    margin-left: -50px;
    padding-top: 40px;
}
.servicios{
  background-color: rgba(195, 216, 222, 0.5)
}
.contenedor-serv{
  margin:40px;

  }
.contenedor-serv h3{
  padding: 20px 0px 12px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.contenedor-serv p{
  color:#777;
}
.servicios-izq{
  text-align: right;
}

.phone{
display: flex;
align-items: center;
margin: auto;
}


/* INICIO portfolio  */

.porfolio .container h2{
  margin:auto;
  padding: 50px;
  align-items: center;
  text-align: center
}
.single-works{
  margin-bottom: 30px;

  overflow:hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 15px #000;
}
 .single-works img{
  width: 100%;
  height:auto;
 }

.single-works .title{
  font-size: 25px;
  font-weight: 700;
  color:#fdc600;
  margin:0;
}

.overlay-text .post{
  display: block;
  font-weight: 600;
  font-size: 20px;
  color:#fff;
}
.single-works .overlay-text{
  width: 100%;
  height:100%;
  font-size: 16px;
  color: #fff;
  background: rgba(0,0,0,.6);
  text-align: center;
  padding-top: 20%;
  opacity: 0;
  position:absolute;
  top:0;
  left:0;
  transition: all 0.6s ease 0s;
}
.single-works .overlay-text:before{
  border-left:1px solid rgba(255,255,255,.9);
  border-right:1px solid rgba(255,255,255,.9);
  left:30px;
  right:30px;
}
.single-works .overlay-text:after{
  border-top:1px solid rgba(255,255,255,.9);
  border-bottom:1px solid rgba(255,255,255,.9);
  top:30px;
  bottom:30px;
}
.single-works .overlay-text:before, .single-works .overlay-text:after{
  content: '';
  position:absolute;
  top:20px;
  left:20px;
  bottom:20px;
  right: 20px;
  opacity: 0;
  z-index:5;
  transform:scale(1.5);
  transition: all 0.6s ease 0.2s;
}
.single-works:hover{
  transform: translateY(-8px);
}
.single-works:hover .overlay-text{
  opacity: 1;
}
.single-works:hover .overlay-text:before,
.single-works:hover .overlay-text:after{
  opacity: 1;
  transform: scale(1);
}
/* FIN DEL portfolio */


/*  INICIO contacto */
.title-contact{
  text-align: center;
  padding: 40px 10px 0px 10px;
}
.title-contact h2{
  color:#00d9e4;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}
.contacto {
  position: absolute;
  width: 100%;
}

.contact{
 margin:auto;
 margin-top: 50px;
  margin-bottom: 50px
}

.formulario{
   background: rgba(0,0,0,.2);
  padding: 25px 20px;
  margin-top: 20px;
  border: 1px solid #00d9e4;
  border-radius: 11px;
  margin: auto;
  z-index: 99;
  margin-bottom: 30px;
}

#particles-js{
  background: #000;
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  right:0;
  left:0;
  bottom: 0;
  z-index:-1;
}

.box1,.box2{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.nombre , .telefono , .email, .mensaje{
 background: rgba(0,0,0,.2);
 margin:15px 0px;
  outline: none;
  border: 3px solid #00d9e4;
  border-radius: 10px;
  height: 50px;
  color:white;
}
.nombre:hover , .telefono:hover , .email:hover, .mensaje:hover{

  box-shadow: 0 0 5px #00d9e4,
              0 0 25px #00d9e4,
              0 0 5px #00d9e4,
              0 0 25px #00d9e4;
}
.mensaje{
   height: 180px;
  max-height: 180px;
  justify-content: space-around;
}


  /* boton de enviar */
#enviar{
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 150px;
 height: 45px;
 border-radius: 9px;
 background-color: #00d9e4 ;
  border: 2px solid #00d9e4 ;
 font-size: 20px ;
 margin: 30px auto ;
}
/* FIN DE CONTACTO */

#enviar:hover{
  background-color:#fdc600;
  border:2px solid #fdc600;
  box-shadow: 0 0 5px #fdc600,
              0 0 25px #fdc600,
              0 0 5px #fdc600,
              0 0 25px #fdc600;

  transition: 0.4s;
}
#dropdownMenuLink:hover{
  background-color:#cbad6c !important;
  border:2px solid #cbad6c !important;
  transition: 0.4s !important;
}
.btn-foto:hover{
  background-color:#cbad6c;
  border:2px solid #cbad6c;

  transition: 0.4s;
}

/* FOOTER */
.footer{
  background: white;
  width: 100%;
  height: 150px;
}
.social-links{
  display: flex;
justify-content: center;
}
 .social-links img{
   padding: 30px 10px;
    width: 60px;
    height: auto;
 }
 .content .name {
   text-align: center;
 }
 .content .name h4{
   font-size: 15px;
 }
.social-links img:hover{
transform: scale(1.2);
}


@media screen and (max-width:760px){ /*18*/

  .line{ /*19*/
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;

  }

  .hamburger{
    position: absolute; /*22*/
    cursor: pointer; /*23*/
    right: 5%;
    top: 50%;
    transform: translate(-5%,-50%); /*24*/

    z-index: 50;  /*32*/

  }
  .nav-links {
    position: fixed; /*25*/
    height: 100vh; /*26*/
    width: 100%; /*27*/
    padding: 70px 20px 70px 20px;
     flex-direction: column;
    background: rgba(10,10,10,0.98);
    clip-path: circle(80px at 90% -20%); /*29*/
    -webkit-clip-path:circle(80px at 90% -20%); /*30*/
    transition: all 1s ease-out; /*31*/
    z-index: 10;
  }

  .nav-links li{
   text-align: center;
   margin: auto;
  }
  .nav-links.open{   /*33*/
    clip-path: circle(80px at 90% -10%); /*34*/
    -webkit-clip-path:circle(1000px at 90% -10%); /*35*/

  }
  .img_about{
   display: none;
  }
  .box{
    width: 49.6%;
  }
  .banner-content h1{
    text-align: center;
    font-size: 45px;
  }
  .banner-content h2{
    text-align: center;
    font-size: 25px;
  }
  .box1,.box2{
    display: block;
}
}
@media  screen and (min-width: 760px) and (max-width: 1025px) {
  .box1,.box2{
    display: block;
  }
  div .celphone{
    display:none;
  }
}


@keyframes banner{
	0%{
		background-image: url('../img/banner-1.jpg');
	}
	25%{
		background-image: url('../img/banner-1.jpg');
	}


	26%{
		background-image: url('../img/banner-2.jpg');
	}
	50%{
		background-image: url('../img/banner-2.jpg');
	}


	51%{
		background-image: url('../img/banner-3.jpg');
	}
	75%{
		background-image: url('../img/banner-3.jpg');
	}


	76%{
		background-image: url('../img/banner-4.jpg');
	}
	100%{
		background-image: url('../img/banner-4.jpg');
	}
















/*
1= incluir el padding y el borde en el ancho y alto total de un elemento.
2= cuanod quiero darle un etilo a una etiqueta solo pongo el nomvre de la etiqueta sin .
3= aca le estoy diciendo que tenga el 10% del alto de mi viewport que es mui hoja de vista (ventana)
4= el background es el color de fono, hay tres maneras de poner color, una es con codigo, la otra nombrando eln nombere del color o con la convinacion rgb
5= cuando quiero agregar estilos a una  clase tengo que poner punto, asi  .nombreDeLaClase {}
6= existen dos tipos de elemettos los que ocupan todo el ancho que pueden y los que ocupan solo una parte, en lineas generales si nosotros queremos que los elementos de un contenedor esten uno allado del otro utilizamos la porpiedad display: flex;
7= esta cadena es interesante para saber el orden que tengo que poner m=para acceder  a modificar el estilo de algun elemento, aca le estoy diciendo, de la clase nav-links accede a los li y de los li accede a las a para modificar su estilo
8= otra manera de modificar el color, de la letra no de wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6
9= con esta propiedad le estamo sacando el subrayado que viene  por defecto con las etiquetas "a", ya que sirven para linkear
10= con la propiedad font size le doy el alto a mis letras
11= es la fuente de todo el texto que va a estar en en cuerpo de la pagina, co  esto me ahorro de escribirlo en todas las propiedades. a menos que quiera diferenciar alguno
12= con list style le saco los puntos que vienen por ferecto cuando uso la etiqueta li (de lista)
13= cuando pongo flex como vemos arriba me da libertad de mover mi contenido y con esta propiedad le digo poneme el contenido que tengo en navbar (en este caso solo el div nav-links )a el final oseaca la derecha
14= paddin es relleno, le doy un relleno a la deecha de 20 px
15= le estoy diciendo que ocupe el 80% del ancho de su contenedor que en este caso es navbar
16= le estoy diciendo que ocupe el 100% del alto del contenedor, este este caso de nav
17= me alinea los elementos de mi contenedor en el centro (tengo que tener display flex)
18= CUANDO YO QUIERO HACER UNa pagina web responsive y adaptativa (18 bis)
19= todo lo qeu va dentro de mi @ media screen va a uncionar solo para ese parametro, osea todo lo que yo haga aca solo se va a haver hasta cunndo la patnalla tiene un maximo de 760 px
20= para mover y realizar ciertas acciones, la posicion es muy importante.  en este caso relative su movimiento es con respecto a si mismo pero es importante que si queremos mover algo DENTRO  de un elemento, debemos poner al elemento padre con posision relative y al elementos hijo como absolute para que tome como parametro el espacio del contenedor padre
22= como dijimos antes, dentro del nab=v  esta hamburger y yo ahora muero hamburger con respectoa su contenedor padre (5 y 50 $ del contenedor padre
23= con la propiedad cursor le estoy indicando que haga algo cuando ponga el cursor ahi, con poiner le pone como una manito de cliclea aca
24= cuando muevo algo con porcentajes posiblemente no me quede en el medio como quieri, en este caso yo le dije que se mueva en la posicion 50% con respecto al margen superior de nav y 5 con respecto al margen derecho pero no me quedo centrado porque me lo mueve tomando como refenrecia el punto superior izquiero, entonces uso transform y le digo que se mueva de su posicion -5 a la derecha y -50 para arriba para quedar centrado de su posiscion medio raro de explicar lo siento anda probando y fijate vos solo ah
25= position fixed es darle una posicion fija, en este caso los nax links  pase lo que pase va a estar en esa posicion
26= le digo que tome el 100% de el alto de su elemento
27= 100 del ancho
28= le estoy diciendo que ponda mi contenido en forma de columna
29= es muy falopa esta prpipedad pero te crea como una porcion de elemento en este caso le pusimos que sea un circulo de determinado radio y luego ponemos at y le pasamos la posicion, sera con respecto a su contenedor o a no se que la verdad
30= la verdad no comprendo muy bien pero, los navegadores muchas veces necesitan alguna palabra de soporte para codigicar algun tipo de codigo y en chrome es webkit,
31= transition permite definir la transsion entre dos estados de un elemento,
32= z index sirve para superponer algo sobre otro elemento.
33= esto es algo bastante interesante, aca yo estoy dandole propiedades a la clase open, que vendria a reemplazar a la clase nav-links pero no lo cambio en el html porque yo quiero que esto solo pase cuando el viewport es menor que 4760 , entinces alterno la clase con js
34= le doy el valor final que va a tomar mi circulo cuando haga click en la hauhurgues a que justamente eso lo configuro en js

*/

/* ACLARACIONES MAS PROFUNDAS
DISENIO ADAPTATIVOS
un diseño adaptativo lo que hace es justamente adaptarse el tamaño de las pantalas, yo pudo variar la disposicion de mi contenido segun los firents vieports. es un poco mas sencillo a nivel codigo
 pero el diseño responsive no solo se adapta sino que optimiza los espacios para una mejor usabilidad

 */
